html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 25px;
  color: #000;
}

@media screen and (max-width: 900px) {
  .MobDNone
  {
    display: none;
  }

  .presentation-container {
    
    display: flex;
    flex-direction: column;
  }
  .presentation-Image {
    width: 50% !important;
    
  }
  .presentation-Text {
    margin-top: 10vh !important;
  }
}

@media screen and (max-width: 800px) {
    .Home-logo {
      display: none;
    }
    .Home-Text {
      text-align: center;
    }
}

@media screen and (max-width: 400px) {
  .Home-Text {
    text-align: center;
    font-size: 6xl!important;
  }
}
  
  